      <!-- Tabs Content -->
           <div class="row">
                    
            <div class="tab-content">
                <div class="row">
                    {{#each recipes as |recipe|}}
                    {{> recipe-info recipe }}
                    {{/each}} 
                </div>
            </div>

        </div>