
    <a href="/api/singleRecipe/{{id}}">    
           <img src="{{imageUrl}}" height="300px" width="300px" alt="" /> 
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">{{title}}</h3>
        </div>
    </a>
