<div class="uk-card-media-top">
    <a href="/singleRecipe/{{id}}">
        <img src="{{imageUrl}}" class="food-img"  alt="" />
    </a>
</div>
<div class="uk-card-body">
    <a href="/singleRecipe/{{id}}">
    <h3 class="uk-card-title">{{title}}</h3>
    </a>
</div>
