<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take My Receipe</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css" />

</head>

<body>
    <nav class="uk-navbar-container uk-margin uk-navbar-transparent" uk-navbar>
        <!-- Navigation on the left side -->
        <div class="uk-navbar-left">
            <!-- Logo/Home button -->
            <a class="uk-navbar-item uk-logo" href="/">
                <img src="/images/logo.png" class="uk-center" alt="Take My Recipe logo" />
            </a>
        </div>

        <!-- Navigation on the right side -->
        <div class="uk-navbar-right">
            <!-- Login/Signup page -->
            <div class="uk-padding-small">
                <a class="uk-button uk-button-default uk-button-small" href="/login" uk-icon="sign-in"  uk-tooltip="title: Login; pos: bottom"></a>
                <a class="uk-button uk-button-primary uk-button-small" href="/signup" uk-icon="user" uk-tooltip="title: Signup; pos: bottom"></a>
            </div>
        </div>
    </nav>
    {{!-- <div class="uk-cover-container uk-height-medium">
        <p class="uk-h4">Cover</p>
        <img src="https://image.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg"
            alt="" uk-cover>
    </div> --}}
    <main class="uk-container">
        {{{ body }}}
    </main>

    <!-- Footer -->
    <footer class="uk-container uk-position-relative">
        <div class="uk-flex">
            <div class="uk-margin-left footer-content">
                <p>Built with love by the <span
                        uk-tooltip="Connor Werth, Jaya Gudipalli, Mehak Rizvi, Shital Chaudhary"><u>team</u></span> |
                    2021</p>
            </div>
            <div class="uk-margin-left footer-content">
                <p><a href="https://github.com/CHAUDHARYS1/take-my-recipe" target="_blank"></span><u>See code in
                            GitHub</u></a> <span uk-icon="github"></span></p>
            </div>
            <div class="uk-margin-left footer-content">
                <p>Take My Recipe Web App <span uk-icon="happy"></span></p> </span>
            </div>
        </div>
    </footer>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit-icons.min.js"></script>
</body>

</html>