<body>
    <div class="uk-card uk-card-default uk-card-large">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card uk-card-default">
                <img
                    src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffresnoeoc.org%2Fhealthy-meals-for-kids-available-at-locations-across-fresno-county%2F&psig=AOvVaw0_Ixf4K2Rehmed2pFNq_e0&ust=1632456936158000&source=images&cd=vfe&ved=2ahUKEwifp8yPnpTzAhUTjJ4KHTYLBo0QjRx6BAgAEAk">
            </div>

            <div class="uk-card uk-card-default">
                <p class="uk-heading-small">Recipe Name</p>
                <p>Recipe preview</p>
                <p>Instructions</p>
                <ul class="uk-list uk-list-decimal">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>consectetur adipiscing elit</li>
                    <li>sed do eiusmod tempor</li>
                    <li>ut labore et dolore</li>
                    <li>magna aliqua.</li>
                </ul>
            </div>
        </div>
    </div>
    <div  class="uk-align-center uk-flex uk-flex-center" >
        <button class="uk-button uk-button-default">Comment</button>
    </div>
</body>
