<form class="uk-form-stacked">
    <p>Add Your Recipe</p>    
    <p>Add your own recipe for others to try out!</p>
    <label class="uk-form-label">Name of the Recipe:</label>
    <input class="uk-input uk-form-blank uk-form-width-medium" type="text" placeholder="Name:">

</form>


<div class="uk-margin" uk-margin>
    <div uk-form-custom="target: true">
        <input type="file">
        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
    </div>
    <button class="uk-button uk-button-default">Submit</button>
</div>


<div class="uk-margin">
    <div uk-form-custom="target: true">
        <select>
            <option value="1">Option 01</option>
            <option value="2">Option 02</option>
            <option value="3">Option 03</option>
            <option value="4">Option 04</option>
        </select>
        <span></span>
    </div>
</div>