<div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-body">
        <h2>Add Your Recipe Below</h2>
        <p>Add your recipe for others to try out!</p>

        <form class="add-recipe-form uk-form-width-large">
            <!-- Error  -->
            <div class="uk-margin uk-flex uk-flex-left"><span class="uk-label uk-label-danger uk-hidden" id="error"></span></div>
            
            <!-- Recipe Name -->
            <div class="uk-margin">
                <label class="uk-form-label">Recipe Name:</label>
                <input id="recipe-name" class="uk-input" type="text" placeholder=""></input>
            </div>
            <!-- Meal Type Drop Down -->
            <div class="uk-margin">
                <label class="uk-form-label">Meal Type</label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="form-stacked-select">
                        <option>Select</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                        <option value="Appetizer">Appetizers</option>
                    </select>
                </div>
            </div>

            <!-- Add Description -->
            <div class="uk-margin">
                <label class="uk-form-label">Add Description</label>
                <textarea id="description" class="uk-textarea" rows="5"
                    placeholder="Please add a brief description of your recipe"></textarea>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">Instructions</label>
                <textarea id="instructions" class="uk-textarea" rows="5"
                    placeholder="please add a brief recipe instructions of your recipe"></textarea>
            </div>

            <!-- Add Ingredients -->
            <div class="uk-margin">
                <label class="uk-form-label">Add Ingredients</label>
                <textarea name="ingredients" id="ingredients" class="uk-textarea" rows="5"
                    placeholder="Please add list of ingredients on your recipe"></textarea>
            </div>
              <!-- Image link -->
            <div class="uk-margin">
                <label for="image_link">Image link</label><label for="source">
                <input type="text" id="image_link" class="form-control uk-input" placeholder="A url to your image">
                <span>Find an image online and copy/paste the image url above. See below for links.</span>
                <br>
                <a href="https://www.scrambledchefs.com" target="_blank"><span class="uk-badge">Scrambled Chefs</span></a></label>
                <a href="https://www.pexels.com/search/food/" target="_blank"><span class="uk-badge">Pexels</span></a></label>
                <a href="https://www.foodiesfeed.com" target="_blank"><span class="uk-badge">Foodies Feed</span></a></label>
            </div>
            <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

             <!-- Submit Button -->
            <div class="uk-margin uk-flex uk-flex-center">
                <button id="submit-btn" class="uk-button uk-button-default" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/add-recipe.js"></script>