<div class="container">
    <div class="uk-align-right">
        <li class="uk-align-right">
            <a href="/addRecipe">
                <button class="uk-button uk-button-default uk-button-primary uk-align-right" id="add-recipe"
                    type="button">
                    + Add a Receipe <span class="uk-margin-small-right" uk-icon="search"></span>
                </button>
            </a>
        </li>
    </div>
 <div class="main-container">
        <div class="row">
            <nav class="uk-navbar uk-navbar-container">

                <ul class="uk-child-width-expand uk-width-1-1 uk-tab">
                    <li class="uk-active"><a href="/api/category/">View All Recipes</a></li>
                    <li class="uk-active"><a href="/api/category/Appetizer">Appetizers</a></li>
                    <li class="uk-active"><a href="/api/category/Breakfast">Breakfast</a></li>
                    <li class="uk-active"><a href="/api/category/Lunch">Lunch</a></li>
                </ul>

            </nav>
        </div>

    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
             {{#each recipes as |recipe|}}
                <div class="uk-card uk-card-default uk-card-body">{{> recipe-info recipe }}</div>
            {{/each}}
        </div>

    </div>
</div>