
<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-body">
            <form class="uk-card-body">
                <h2 class="uk-flex uk-flex-center">Login</h2>
                <p class="uk-flex uk-flex-center">Login to gain access to more features</p>

                <div class="uk-margin uk-flex uk-flex-center">
                    <input class="uk-input uk-form-width-medium" type="email" placeholder="Email Adress">
                </div>

                <div class="uk-margin uk-flex uk-flex-center">
                    <input class="uk-input uk-form-width-medium" type="password" placeholder="Password">
                </div>

                <div class="uk-margin uk-flex uk-flex-center">
                    <button class="uk-button uk-button-default" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- <script src="../public/javascript/login.js"></script> --}}