<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-body">
            <form class="uk-card-body">
            <p class="uk-flex uk-flex-center uk uk-heading-divider">Login</p>
            <p class="uk-flex uk-flex-center">Login to gain access to more features</p>
            <div class="uk-margin uk-flex uk-flex-center">
                <input class="uk-input uk-form-width-medium" type="email" placeholder="Email Adress">
            </div>
            <div class="uk-margin uk-flex uk-flex-center">
                <input class="uk-input uk-form-width-medium" type="password" placeholder="Password">
            </div>
            <div class="uk-margin uk-flex uk-flex-center">
                <button class="uk-button uk-button-default" type="submit">Login</button>
            </div>
        </form>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-primary uk-card-body">
             
        <form class="uk-card-body">
            <fieldset class="uk-fieldset">
                <p class="uk-flex uk-flex-center uk-heading-divider">Sign Up</p>
                <p class="uk-flex uk-flex-center">Sign up to gain access to more features</p>
                <div class="uk-margin uk-flex uk-flex-center">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="First Name">
                </div>
                <div class="uk-margin uk-flex uk-flex-center">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Last Name">
                </div>
                <div class="uk-margin uk-flex uk-flex-center">
                    <input class="uk-input uk-form-width-medium" type="email" placeholder="Email Adress">
                </div>
                <div class="uk-margin uk-flex uk-flex-center">
                    <input class="uk-input uk-form-width-medium" type="password" placeholder="Password">
                </div>
                <div class="uk-margin uk-flex uk-flex-center">
                    <input class="uk-input uk-form-width-medium" type="password" placeholder="Password">
                </div>
                <div class="uk-margin uk-flex uk-flex-center">
                    <button class="uk-button uk-button-default" type="submit">Sign Up</button>
                </div>
            </fieldset>
        </form>
        </div>
    </div>
</div>


        

       
   