<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-body">
            <form class="uk-card-body">
                <h2 class="uk-flex uk-flex-center">Login</h2>
                <p class="uk-flex uk-flex-center">Login to gain access to more features</p>

                <div class="uk-margin uk-flex uk-flex-center">
                    <input id="email" class="uk-input uk-form-width-medium" type="email" placeholder="Email Adress">
                </div>

                <div class="uk-margin uk-flex uk-flex-center">
                    <span class="bi bi-eye-slash" id="togglePassword"></span>
                    <input id="password" class="uk-input uk-form-width-medium" type="password" placeholder="Password">
                </div>

                <div class="uk-margin uk-flex uk-flex-center">
                    <button id="login" class="uk-button uk-button-default" type="submit">Login</button>
                </div>
            </form>
            <p class="uk-flex uk-flex-center">Don't have an account? <a href="/signup"> Signup</a></p>
        </div>
    </div>
</div>

<script src="/javascript/login.js"></script>