<form>
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Signup</legend>
        <p class="uk-flex uk-flex-center">Sign up to create an account</p>

        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="text" placeholder="First Name">
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="text" placeholder="Last Name">
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="email" placeholder="Email Adress">
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="password" placeholder="Password">
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="password" placeholder="Password">
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <button class="uk-button uk-button-default" type="submit">Submit</button>
        </div>
    </fieldset>
</form>