<form class="uk-card-body">
    <fieldset class="uk-fieldset">
        <h2 class="uk-flex uk-flex-center">Sign Up</h2>
        <p class="uk-flex uk-flex-center">Sign up to gain access to more features</p>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="text" placeholder="First Name" id='firstName'>
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="text" placeholder="Last Name" id='lastName'>
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="email" placeholder="Email Address" id='emailSU'>
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="password" placeholder="Password" id='pwSU'>
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="password" placeholder="Confirm Password"
                id='pwConfirmSU'>
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <button class="uk-button uk-button-default" type="submit" id='SUbtn'>Sign Up</button>
        </div>
    </fieldset>
    <p class="uk-flex uk-flex-center">Have a account? <a href="/login"> Login</a></p>
</form>
<script src="/javascript/signup.js"></script>