<form class="uk-card-body">
    <fieldset class="uk-fieldset">
        <h2 class="uk-flex uk-flex-center">Sign Up</h2>
        <p class="uk-flex uk-flex-center">Sign up to gain access to more features</p>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="text" placeholder="First Name">
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="text" placeholder="Last Name">
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="email" placeholder="Email Address">
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="password" placeholder="Password">
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-form-width-medium" type="password" placeholder="Password">
        </div>
        <div class="uk-margin uk-flex uk-flex-center">
            <button class="uk-button uk-button-default" type="submit">Sign Up</button>
        </div>
    </fieldset>
</form>