
<h2> My Featured Recipes</h2>

<!-- Recipe Grid -->
<div class="uk-text-center">
    <div class="uk-flex-center" uk-grid>
        {{#each recipes as |recipe|}}
        <div class="uk-card uk-card-default uk-margin-left uk-card-hover"
            style="padding-left: 0px !important; border-radius:10px!important">
            {{> recipe-info recipe }}
        </div>
        {{/each}}
    </div>
    <div class="uk-padding">
        <a href="#toTop" class="" uk-tooltip="Back to Top" uk-totop></a>
    </div>
</div>

<div class="add-recipe-container">
    <a href="/addRecipe" class="uk-button uk-button-primary" id="add-recipe" uk-tooltip="Add a recipe"><span
            uk-icon="plus"></span></a>
</div>
