* {
    padding: 0;
    margin: 0;

  }
  ul, ol, li, p, a, input, label, textarea, select, option, button{
    font-size:12px!important;
  }
  .uk-logo:hover{
    opacity: .6!important;
  }
  .uk-margin-left-small{
    margin-left: 5px;
  }
  .add-recipe-container{
    margin-top: -40px;
    text-align: right;
    padding-bottom: 50px;
  }
  .add-recipe-container a{
    border-radius: 20px!important;
  }
  .category-buttons{
    border-radius: 20px!important;
  }
  .food-img{
    height: 300px;
    width: 300px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .food-img:hover{
    opacity: .8;
  }
  .footer-content{
    padding: 15px; 
  }

  .food-description{
    max-width: 220px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  footer{
    margin-top: 100px;
  }